
# General Modules
django >3.2, <3.3
python-decouple
Pillow
djangorestframework
djoser
django-cors-headers


#Third Party Modules
markdown 
django-filter
drf-yasg[validation]
djangorestframework-simplejwt

#Deployment Modules

# Refactoring and tests
black
flake8
pytest
pytest-django
Faker

# Email third party modules

django_mail_templated