
# General Modules
django >3.2, <3.3
python-decouple
Pillow
djangorestframework


#Third Party Modules
markdown 
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
djoser
#Deployment Modules

# Refactoring and tests
black
flake8
pytest
pytest-django

# Email third party modules

django_mail_templated