
# General Modules
django >3.2, <3.3
python-decouple
Pillow
djangorestframework


#Third Party Modules
markdown 
django-filter
drf-yasg[validation]
djangorestframework-simplejwt

#Deployment Modules

# Refactoring and tests
black
flake8