<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        {{object.title}}
    </h1>

    <hr>
    <P>
        {{object.content}}
    </P>
    <small>{{object.author}}, {{object.published_date}}</small>
    <a href="{% url 'blog:edit' pk=post.id %}">Edit</a><br>
    <a href="{% url 'blog:delete' pk=post.id %}">Delete</a>
</body>
</html>